*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px;
  height: 100vh; }

a {
  color: #247BA0;
  text-decoration: none;
  font-family: "Cinzel", serif; }

.sidebar ul li {
  font-family: "Cinzel", serif; }

.name {
  font-family: 'Libre Baskerville', serif;
  font-size: 90px;
  letter-spacing: 5px;
  margin: 0; }

.content h1, .content h4 {
  font-family: "Cinzel", serif;
  padding: 0 50px; }
.content h4 {
  padding-left: 20px; }
.content h2 {
  font-family: "Cinzel", serif;
  color: #247BA0; }
.content p {
  font-family: 'Libre Baskerville', serif; }
.content .contactMe ul li {
  font-family: 'Libre Baskerville', serif; }

p {
  font-size: 18px;
  line-height: 28px;
  padding-right: 20vw; }

.projects h1 {
  font-family: "Cinzel", serif; }

.sidebar {
  width: 270px;
  height: 100vh;
  border-right: 1px solid #808080;
  margin: 0px;
  float: left;
  padding: 20px; }
  .sidebar img {
    width: 150px;
    display: block;
    margin: auto;
    padding-bottom: 40vh; }
  .sidebar ul {
    display: block;
    margin: auto; }
    .sidebar ul li {
      list-style: none;
      padding: 30px 0;
      font-size: 30px; }
      .sidebar ul li a {
        text-decoration: none;
        color: #247BA0; }
        .sidebar ul li a:hover {
          text-decoration: underline; }
  .sidebar .personalLinks {
    display: flex;
    justify-content: center;
    padding-top: 10%; }
    .sidebar .personalLinks .social-icon img {
      display: inline-block;
      padding: 5px;
      width: 40px; }

.navbar .active {
  color: #70c1b3; }

.content {
  margin-left: 20%;
  height: 100vh;
  overflow: auto;
  padding: 80px 40px 20px 0px; }
  .content .blogPost {
    background: #d5ebdc;
    padding: 20px;
    padding-left: 30px;
    width: 100vw;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .content .blog {
    padding: 0; }
    .content .blog ul {
      display: block;
      margin: auto; }
    .content .blog li {
      list-style: none; }
  .content #blogPost2 {
    display: none; }
  .content #blogPost1 {
    display: none; }

.projects {
  margin-left: 20%;
  height: 100vh;
  overflow: auto;
  padding: 80px 80px 20px 40px;
  display: flex;
  flex-direction: column; }
  .projects .project {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid #808080; }
    .projects .project img {
      width: 280px;
      height: 200px;
      margin: auto 30px auto 0;
      border: 1px solid #808080; }
    .projects .project a {
      text-decoration: none;
      display: flex;
      justify-content: flex-end;
      padding: 0 20px; }
      .projects .project a:hover {
        color: #70c1b3; }
    .projects .project h2 {
      margin: 0; }
    .projects .project p {
      padding: 0px; }
    .projects .project .info {
      padding: 0; }
      .projects .project .info ul {
        display: inline;
        margin: auto; }
      .projects .project .info li {
        list-style: none;
        padding: 5px; }
  .projects #sass img {
    width: 250px;
    height: 250px;
    margin: auto 30px auto 0; }

.content {
  display: flex;
  justify-content: space-between; }
  .content .contactInfo {
    justify-content: flex-start; }
    .content .contactInfo h1 {
      margin: 0; }
    .content .contactInfo p, .content .contactInfo h3 {
      padding: 0 50px; }
    .content .contactInfo h3 {
      margin-top: 30%; }
  .content .contactImg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    padding-top: 300px; }
    .content .contactImg img {
      width: 500px;
      height: 500px; }
  .content .contactMe li {
    padding: 10px;
    font-size: 18px;
    list-style: none; }
    .content .contactMe li a:hover {
      color: #70c1b3; }

.contentHome {
  display: flex;
  height: 100vh;
  background: url("../img/background2.JPG") no-repeat top;
  background-size: cover; }
  .contentHome .blurb {
    margin: auto;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center; }
    .contentHome .blurb p {
      padding: 0; }
    .contentHome .blurb p:last-child {
      font-size: 22px; }

/*# sourceMappingURL=master.css.map */
