.content {
  margin-left: 20%;
  height: 100vh;
  overflow: auto;
  padding: 80px 40px 20px 0px;
  .blogPost {
    background: $mint;
    padding: 20px;
    width: 100vw;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blog {
    padding: 0;
    ul {
      display: block;
      margin: auto;
    }
    li {
      list-style: none;
    }
  }

  #blogPost2 {
    display: none;
  }
  #blogPost1 {
    display: none;
  }
}
