.contentHome {
  display: flex;
  height: 100vh;
  background: url("../img/background2.JPG") no-repeat top;
  background-size: cover;
  .blurb {
    margin: auto;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    p {
      padding: 0;
    }
    p:last-child {
      font-size: 22px;
      padding-top: 15px;
      letter-spacing: 2px;
    }
  }
}




// <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville|Quicksand|EB+Garamond|Playfair+Display+SC' rel='stylesheet' type='text/css'>
