.projects {
  margin-left: 20%;
  height: 100vh;
  overflow: auto;
  padding: 80px 80px 20px 40px;
  display: flex;
  flex-direction: column;
  .project {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid $lightGrey;
    img {
      width: 280px;
      height: 200px;
      margin: auto 30px auto 0;
      border: 1px solid $lightGrey;
    }
    a {
      text-decoration: none;
      display: flex;
      justify-content: flex-end;
      padding: 0 20px;
      &:hover {
        color: $mainAqua;
      }
    }
    h2 {
      margin: 0;
    }
    p {
      padding: 0px;
    }
    .info {
      padding: 0;
      ul {
        display: inline;
        margin: auto;
      }
      li {
        list-style: none;
        padding: 5px;
      }
    }
  }
  #sass {
    img {
      width: 250px;
      height: 250px;
      margin: auto 30px auto 0;
    }
  }
}
