.sidebar {
  ul {
    li {
      font-family: "Cinzel", serif;
    }
  }
}

.name {
  font-family: 'Libre Baskerville', serif;
  font-size: 90px;
  letter-spacing: 5px;
  margin: 0;
}

.content {
  h1, h4 {
    font-family: "Cinzel", serif;
    padding: 0 50px;
  }
  h4 {
    padding-left: 20px;
  }
  h2 {
    font-family: "Cinzel", serif;
    color: $denim;
  }
  p {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    line-height: 28px;
    padding-right: 20vw;
  }
  .contactMe {
    ul {
      li {
        font-family: 'Libre Baskerville', serif;
      }
    }
  }
}
